[submodule "vim/autoload"]
	path = vim/autoload
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/colors-jellybeans"]
	path = vim/bundle/colors-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = https://www.github.com/vim-scripts/AutoComplPop.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/easy-motion"]
	path = vim/bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = https://www.github.com/Shougo/vimshell.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://www.github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/colors-pack1"]
	path = vim/bundle/colors-pack1
	url = https://github.com/mgutz/vim-colors.git
[submodule "vim/bundle/colors-pack2"]
	path = vim/bundle/colors-pack2
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://www.github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/colors-lemon256"]
	path = vim/bundle/colors-lemon256
	url = https://github.com/vim-scripts/lemon256.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/screen"]
	path = vim/bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/man"]
	path = vim/bundle/man
	url = https://github.com/vim-scripts/ManPageView.git
[submodule "vim/bundle/buffergator"]
	path = vim/bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/buftab"]
	path = vim/bundle/buftab
	url = https://github.com/vim-scripts/buftabs.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
